.border {
  margin-top: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 12px;
}
.table {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
  font-size: 0.8rem;
}
.headers>tr {
  display: flex;
}
.headers>tr>th {
  flex: 1;
  color: var(--highlight-color);
}
.task {
  display: flex;
  border-top: 1px solid var(--accent-color);
  align-items: center;
}
.task>th, .task>td {
  flex: 1;
  text-transform: capitalize;
  padding: 0.5rem;
}
.task>th {
  font-weight: 600;
}