.nav {
  display: flex;
  gap: 1rem;
}
.tab {
  font-size: 0.8rem;
  padding: 0.5rem;
  cursor: pointer;
}
.tab:first-child {
  background: var(--background-secondary);
  color: var(--highlight-color);
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}