.workspace {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #5D0E41, #FF204E, #003e4d, #A0153E);
  background-size: 400% 400%;
  animation: gradient 30s infinite alternate;
}
.panel {
  background: rgb(31, 31, 31, 0.8);
  flex: 1;
  margin: 1rem;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}