.nav {
  background: #1f1f1f;
  display: flex;
  font-size: 1rem;
}
.left, .right {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}
.left {

}
.right {
  flex: 1;
  justify-content: right;
}
.left>a, .right>a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.left>a:hover, .right>a:hover {
  color: #FF204E;
}