.nav {
  background: #1f1f1f;
  display: flex;
  font-size: 1rem;
}
.left, .right {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  color: #fff;
}
.right {
  flex: 1;
  justify-content: right;
}
.right>span {
  color: #fff;
}
.left>a, .right>a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: #fff;

}
.left>button:hover, .right>button:hover {
  color: #FF204E;
}
.left>button, .right>button {
  border: none;
  background: none;
  font-size: 1rem;
  color: #fff;
  font-family: "Inria Sans", sans-serif;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.right>button:last-child {
  color: #FF204E;
}
a.active {
  color: #FF204E;
}
.right>button:last-child:hover {
  color: #209bff;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .right>span {
    display: none;
  }
  .right>a {
    font-size: 0.8rem;
  }
}