.tasks {
  height: calc(100% - 2rem);
  border: 1px solid var(--accent-color);
  padding: 1rem;
  border-radius: 12px;
}
.tasks>h3 {
  font-size: 1.6rem;
  font-weight: 600;
}
.tasks>p {
  font-size: 0.8rem;
  margin-top: 1rem;
}
.content {
  margin: 1rem;
}